<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API View - Home</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <p>Please use below routes to access the API</p>
    <h3>Public Routes</h3>
    <ul class="routes">
        <li>
            <strong>Login</strong>
            <ul>
                <li>POST <a href="/login" title="POST">/login</a></li>
            </ul>
        </li>
        <li>
            <strong>Register</strong>
            <ul>
                <li>POST <a href="/register" title="POST">/register</a></li>
            </ul>
        </li>
    </ul>
    <h3>Protected Routes</h3>
    <ul class="routes">
        <li>
            <strong>Products</strong>
            <ul>
                <li>GET <a href="/products" title="GET">/products</a></li>
                <li>GET <a href="/products/:id" title="GET">/products/:id</a></li>
                <li>POST <a href="/products" title="POST">/products</a></li>
                <li>PUT <a href="/products/:id" title="PUT">/products/:id</a></li> 
                <li>DELETE <a href="/products/:id" title="DELETE">/products/:id</a></li>
            </ul>
        </li>
        <li>
            <strong>Category</strong>
            <ul>
                <li>GET <a href="/category" title="GET">/category</a></li>
                <li>GET <a href="/category/:id" title="GET">/category/:id</a></li>
                <li>POST <a href="/category" title="POST">/category</a></li>
                <li>PUT <a href="/category/:id" title="PUT">/category/:id</a></li> 
                <li>DELETE <a href="/category/:id" title="DELETE">/category/:id</a></li>
            </ul>
        </li>
        <li>
            <strong>Employee</strong>
            <ul>
                <li>GET <a href="/employee" title="GET">/employee</a></li>
                <li>GET <a href="/employee/:id" title="GET">/employee/:id</a></li>
                <li>POST <a href="/employee" title="POST">/employee</a></li>
                <li>PUT <a href="/employee/:id" title="PUT">/employee/:id</a></li> 
                <li>DELETE <a href="/employee/:id" title="DELETE">/employee/:id</a></li>
            </ul>
        </li>
        <li>
            <strong>Credit Customers</strong>
            <ul>
                <li>GET <a href="/creditcustomer" title="GET">/creditcustomer</a></li>
                <li>GET <a href="/creditcustomer/:id" title="GET">/creditcustomer/:id</a></li>
                <li>POST <a href="/creditcustomer" title="POST">/creditcustomer</a></li>
                <li>PUT <a href="/creditcustomer/:id" title="PUT">/creditcustomer/:id</a></li> 
                <li>DELETE <a href="/creditcustomer/:id" title="DELETE">/creditcustomer/:id</a></li>
            </ul>
        </li>
        <li>
            <strong>Customer</strong>
            <ul>
                <li>GET <a href="/customer" title="GET">/customer</a></li>
                <li>GET <a href="/customer/:id" title="GET">/customer/:id</a></li>
                <li>POST <a href="/customer" title="POST">/customer</a></li>
                <li>PUT <a href="/customer/:id" title="PUT">/customer/:id</a></li> 
                <li>DELETE <a href="/customer/:id" title="DELETE">/customer/:id</a></li>
            </ul>
        </li>
        <li>
            <strong>Customer Order</strong>
            <ul>
                <li>GET <a href="/customerorder" title="GET">/customerorder</a></li>
                <li>GET <a href="/customerorder/:id" title="GET">/customerorder/:id</a></li>
                <li>POST <a href="/customerorder" title="POST">/customerorder</a></li>
                <li>PUT <a href="/customerorder/:id" title="PUT">/customerorder/:id</a></li> 
                <li>DELETE <a href="/customerorder/:id" title="DELETE">/customerorder/:id</a></li>
            </ul>
        </li>
        <li>
            <strong>Customer Order Detail</strong>
            <ul>
                <li>GET <a href="/customerorderdetail" title="GET">/customerorderdetail</a></li>
                <li>GET <a href="/customerorderdetail/:id" title="GET">/customerorderdetail/:id</a></li>
                <li>POST <a href="/customerorderdetail" title="POST">/customerorderdetail</a></li>
                <li>PUT <a href="/customerorderdetail/:id" title="PUT">/customerorderdetail/:id</a></li> 
                <li>DELETE <a href="/customerorderdetail/:id" title="DELETE">/customerorderdetail/:id</a></li>
            </ul>
        </li>
        <li>
            <strong>Customer Transaction</strong>
            <ul>
                <li>GET <a href="/customertransaction" title="GET">/customertransaction</a></li>
                <li>GET <a href="/customertransaction/:id" title="GET">/customertransaction/:id</a></li>
                <li>POST <a href="/customertransaction" title="POST">/customertransaction</a></li>
                <li>PUT <a href="/customertransaction/:id" title="PUT">/customertransaction/:id</a></li> 
                <li>DELETE <a href="/customertransaction/:id" title="DELETE">/customertransaction/:id</a></li>
            </ul>
        </li>
        <li>
            <strong>Supplier</strong>
            <ul>
                <li>GET <a href="/supplier" title="GET">/supplier</a></li>
                <li>GET <a href="/supplier/:id" title="GET">/supplier/:id</a></li>
                <li>POST <a href="/supplier" title="POST">/supplier</a></li>
                <li>PUT <a href="/supplier/:id" title="PUT">/supplier/:id</a></li> 
                <li>DELETE <a href="/supplier/:id" title="DELETE">/supplier/:id</a></li>
            </ul>
        </li>
        <li>
            <strong>Supplier Order</strong>
            <ul>
                <li>GET <a href="/supplierorder" title="GET">/supplierorder</a></li>
                <li>GET <a href="/supplierorder/:id" title="GET">/supplierorder/:id</a></li>
                <li>POST <a href="/supplierorder" title="POST">/supplierorder</a></li>
                <li>PUT <a href="/supplierorder/:id" title="PUT">/supplierorder/:id</a></li> 
                <li>DELETE <a href="/supplierorder/:id" title="DELETE">/supplierorder/:id</a></li>
            </ul>
        </li>
        <li>
            <strong>Supplier Order Details</strong>
            <ul>
                <li>GET <a href="/supplierorderdetail" title="GET">/supplierorderdetail</a></li>
                <li>GET <a href="/supplierorderdetail/:id" title="GET">/supplierorderdetail/:id</a></li>
                <li>POST <a href="/supplierorderdetail" title="POST">/supplierorderdetail</a></li>
                <li>PUT <a href="/supplierorderdetail/:id" title="PUT">/supplierorderdetail/:id</a></li> 
                <li>DELETE <a href="/supplierorderdetail/:id" title="DELETE">/supplierorderdetail/:id</a></li>
            </ul>
        </li>
        <li>
            <strong>Supplier Transactions</strong>
            <ul>
                <li>GET <a href="/suppliertransaction" title="GET">/suppliertransaction</a></li>
                <li>GET <a href="/suppliertransaction/:id" title="GET">/suppliertransaction/:id</a></li>
                <li>POST <a href="/suppliertransaction" title="POST">/suppliertransaction</a></li>
                <li>PUT <a href="/suppliertransaction/:id" title="PUT">/suppliertransaction/:id</a></li> 
                <li>DELETE <a href="/suppliertransaction/:id" title="DELETE">/suppliertransaction/:id</a></li>
            </ul>
        </li>
    </ul>
      
</body>
</html>